@charset 'utf-8';

.article .title {
    font-weight: 400;
    margin-top: 20px;
}
.article .story, .title, .meta {
    padding-left: 40px;
}
.story {
    font-size: 15px;
    line-height: 1.5em;
    color: #2f2f2f;
}
.meta p {
    border-bottom: 3px solid #eee;
    margin: 10px 0;
    padding-bottom: 10px;
}
em {
    display: block;
    padding-bottom: 10px;
}
a {
    padding: 0 !important;
}
