* { 
	margin:0; 
	padding:0; 
	font-family: Lato,"PingFang SC", "Microsoft YaHei", sans-serif;
}
div { 
	text-align:center; 
	line-height:50px
}
.head { 
	height:8px;
	background:#000000
}
.left { 
	width:25%; 
	height:700px;	
	float:left; 
	text-align:right; 
	padding-top:20px;
	padding-right: 20px;
}
.left li {
	font-family: "Microsoft YaHei";
	height: 30px;
	line-height: 30px;
	font-size: 14.5px;
}
.main{
	margin:0;
	height:60%; 
	min-height:660px;
	padding-top:0.5%;
	padding-left: 4%;
	text-align: left;
	border-left: 3px solid #EEEEEE;
	margin-left:27%;
	padding-right:25%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main li {
	padding-left: 3.5%;
	height: 35px;
	line-height: 35px;
}
.main a {
	font-family: "Microsoft YaHei";
	line-height: 1.5em;
	font-size: 14px;
	color:#1E90FF;
}
.main p {
	font-size: 18px;
	margin: 0;
}

.main .meta {
	padding: 10px 0;
	border-bottom: 4px solid #EEEEEE;
	font-size: x-small;
	width:100%;
}

.main .meta p {
	text-align:left;
}

.main .meta a {
	font-size:8px;
	color: green;
}

.main .story {
	line-height: 28px;
	text-align:left;
	padding-top:2%;
	padding-bottom:4%;
	font-size:15px;
}
.meta p {
	text-align: right;
	line-height: normal;
	font-size: x-small;
}
.main .title {
	font-size: 18px;
	margin-top:10px;
}
.gotop {
	background: url("../images/gotop.jpg") no-repeat 50% 0 ;
	border-radius: 5px;
	background-size: 48px 98px;
	width: 48px;
	height: 48px;
}
.gotop:hover {
	background: url("../images/gotop.jpg") no-repeat 50% 95% ;
}
.right { 
	width:25%;
	height:700px;
	float:right; 
	padding-top:20px;
}
.back {
	position: fixed;
	right: 18%;
	padding: 20px;
	bottom: 100px;
	z-index:999;
	float:right;
}
.footer{ 
	height:50px; 
	background:#9F9; 
	clear:both
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #3CB371;	
}
li {
	list-style: none;
}
.footer p {
	font-size: small;
	margin: 0;
	color: #696969;
}
.footer a {
	color: #000000;
}